/* nav bar */

header {
  color: hsl(257, 7%, 63%);
  transition: all 0.5s ease-in-out;
  padding: 1rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
  margin: 0;
  text-align: left;
}

.nav-links {
  /* display: flex; */
  gap: 20rem;
}

/* List */

ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

ul li a {
  color: hsl(257, 7%, 63%);
  font-weight: bold;
  font-size: 1rem;
}

ul li a:hover {
  color: hsl(257, 7%, 63%);
}

/* hamburger */
.hamburger-container {
  color: hsl(257, 7%, 63%);
  /* outline: 6px solid red; */
  display: none;
}

.nav-links {
  display: flex;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-btn {
  color: hsl(257, 7%, 63%);
  font-weight: bold;
  cursor: pointer;
  /* font-size: 4rem; */
}

.sign-up-btn {
  background-color: hsl(180, 66%, 49%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 30px;

  padding: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* Hero section */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13rem;
}

.hero-text h1 {
  font-size: 4rem;
  color: hsl(260, 8%, 14%);
  line-height: 1.2;
}

.hero-text p {
  font-size: 1.2rem;
  color: hsl(257, 7%, 63%);
  line-height: 1.5;
}

.hero-img img {
  width: 1000px;
}

@media (max-width: 600px) {
  .nav-bar {
    align-items: center;
    justify-content: space-between;
  }

  .hamburger-container {
    display: block;
  }

  .links {
    position: fixed;
    top: 85px;
    left: 0;
    width: calc(100% - 2rem);
    height: 50vh;
    background: hsl(257, 27%, 26%);
    text-align: center;
    transform: translateX(calc(-100% - 1rem));
    transition: transform 0.3s ease-in-out;
    margin: 1rem;

    border-radius: 10px;
  }

  /* Class to toggle when hamburger is clicked */
  .links.active {
    transform: translateX(0);
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
  }

  form {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .sign-up-btn {
    padding: 0.4rem 0.8rem;
    border-radius: 1.2rem;
    display: flex;
    border: none;
    font-size: 1.4rem;
    background-color: hsl(180, 66%, 49%);
    color: white;
    width: 60%;
    justify-content: center;
    align-items: center; /* Ensure the text inside the button is centered */
    margin: 0 auto; /* Center the button itself */
  }

  .hamburger-line {
    width: 1px;
    height: 1px;
    background-color: hsl(257, 7%, 63%);
    margin: 5px;

    width: 70%;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }

  .hero-img {
    width: 340px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.4rem;
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-text button {
    padding: 0.6rem 0.8rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-top: 1.4rem;
    border: none;
    outline: 1px solid hsl(180, 66%, 49%);
    background-color: hsl(180, 66%, 49%);
    color: white;

    width: 50%;
  }
}

/* Desktop styles */
@media (min-width: 800px) {
  header {
    outline: 1px solid green;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid blue;
  }

  .logo img {
    max-width: 800px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    /* gap: 20rem; */

    outline: 1px solid green;
  }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1rem;
  }

  ul li a {
    color: hsl(257, 7%, 63%);
    font-weight: bold;
    font-size: 1rem;
  }

  .logo-wrapper {
    display: flex;
    gap: 8rem;
    align-items: center;
  }

  form {
    /* display: flex; */
    align-items: center;
    gap: 1rem;
  }

  .login-btn {
    color: hsl(257, 7%, 63%);
    font-weight: bold;
    /* font-size: 4rem; */
  }

  .sign-up {
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .login-btn {
    font-size: 1rem;
  }

  .nav-links {
    gap: 20rem;
  }

  .hero-section {
    gap: 13rem;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-img img {
    width: 1000px;
  }
}
