/* nav bar */

header {
  position: relative;
  color: hsl(257, 7%, 63%);
  transition: all 0.5s ease-in-out;
  /* display: flex; */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 7rem; */
}

.nav-links {
  display: flex;
  gap: 20rem;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

ul li a {
  color: hsl(257, 7%, 63%);
  font-weight: bold;
}

ul li a:hover {
  color: hsl(257, 7%, 63%);
}

.logo-wrapper {
  display: flex;
  gap: 8rem;
  align-items: center;
}

form {
  display: flex;
  gap: 1rem;
}

/* hamburger */
.hamburger-container {
  color: hsl(257, 7%, 63%);
  /* outline: 6px solid red; */
  display: none;
}

.hero-section {
  display: flex;
  align-items: center;
  gap: 13rem;
}

@media (max-width: 650px) {
  header {
    align-items: center;
  }
  .nav-bar {
    padding: 1rem 2rem;
    align-items: center;
    padding: 1rem;
  }

  .hamburger-container {
    display: block;
  }

  .links {
    position: fixed;
    top: 85px;
    left: 0;
    width: calc(100% - 2rem);
    height: 60vh;
    background: hsl(257, 27%, 26%);
    text-align: center;
    transform: translateX(calc(-100% - 1rem));
    transition: transform 0.3s ease-in-out;
    margin: 1rem;

    border-radius: 10px;
  }

  /* Class to toggle when hamburger is clicked */
  .links.active {
    transform: translateX(0);
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
  }

  form {
    display: flex;

    font-size: 1rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .sign-up-btn button {
    width: 65%;
    padding: 0.4rem 0.8rem;
    border-radius: 1.2rem;

    border: none;
    font-size: 1.4rem;
    background-color: hsl(180, 66%, 49%);
    color: white;
  }

  .hamburger-line {
    /* outline: 2px solid red; */
    width: 1px;
    height: 1px;
    background-color: hsl(257, 7%, 63%);
    margin: 5px;

    width: 70%;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }

  .hero-img {
    width: 380px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.4rem;
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-text button {
    padding: 0.6rem 0.8rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-top: 1.4rem;
    border: none;
    outline: 1px solid hsl(180, 66%, 49%);
    background-color: hsl(180, 66%, 49%);
    color: white;

    width: 50%;
  }
}
