footer {
  background-color: hsl(255, 11%, 22%);
  color: hsl(0, 25%, 98%);
}

.footer-wrap {
  /* padding: 20px 0; */
  text-align: center;
}

.footer-logo {
  padding: 1rem;
}

.footer-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0;
  margin-top: 1rem;
}

.icons-footer {
  /* gap: 10px; */
}

.icon-footer {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-footer {
    display: flex;
    flex-direction: row;
  }
}
