footer {
  background-color: hsl(255, 11%, 22%);
  color: hsl(0, 25%, 98%);
  transition: all 0.3s ease-in-out;
}

.footer-wrap {
  /* padding: 20px 0; */
  text-align: center;
}

.footer-logo {
  padding: 1rem;
}

.margin-top {
  margin-top: 2rem;
}

.footer-links ul {
  /* display: flex; */
  flex-direction: column;
  gap: 0.6rem;
}

.footer-list {
  margin-top: 0.7rem;
}

.footer-list li a:hover {
  color: hsl(180, 66%, 49%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.icons-footer ul {
  display: flex;
  justify-content: center;
  gap: 2rem;

  margin-top: 2rem;
}

.icon-footer li img:hover {
  filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(500%)
    hue-rotate(180deg);
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    text-align: left;
  }

  .footer-list-items {
    display: flex;
    gap: 4rem;
    margin-left: 7rem;

    transition: all 0.3s ease-in-out;
  }

  .icon-footer {
    display: flex;
    flex-direction: row;
  }
}
